<!DOCTYPE html>
<html>

<head>
  <style>

  </style>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="app" ng-controller="DirectController" ng-init="init()">
  <form ng-submit="print()">
    <div class="row callout">
      <div class="large-8 medium-8 columns ">
        <h5>Направление на исследование биопсийного (операционного) материала</h5>
        <form>
          <div class="row">
            <div class="large-12 columns">
              <label>Отделение</label>
              <select ng-model="department" ng-options="department.name for department in departments" required>
                            <option value="">Выберите отделение</option>
                        </select>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>ФИО</label>
              <input type="text" ng-model="person.full_name" placeholder="Фамилия Имя Отчество" required />
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
              <label>Дата рождения</label>
              <input type="text" ng-model="person.birthdate" placeholder="Дата" />
            </div>
            <div class="small-6 columns">
              <label>Пол</label>
              <input type="radio" name="sex" ng-model="person.sex" ng-value=1 id="sexMan" ng-required="!person.sex">
              <label for="sexMan">Муж</label>
              <input type="radio" name="sex" ng-model="person.sex" ng-value=0 id="sexWoman" ng-required="!person.sex">
              <label for="sexWoman">Жен</label>
            </div>
          </div>

          <div class="row">

            <div class="small-6 columns">
              <label>СНИЛС</label>
              <input type="text" ng-model="person.snils" placeholder="Номер" required />
            </div>
            <div class="small-6 columns">
              <label>Полис ОМС</label>
              <input type="text" ng-model="person.oms" placeholder="Серия Номер" required />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Адрес</label>
              <textarea ng-model="person.full_address" placeholder="Место регистрации" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="large-4 medium-4 columns">
              <button type="submit" class="small button">Печать</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>


  <script src="js/vendor/FileSaver.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/app.js"></script>
  <script lang="javascript" src="bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
  <script lang="javascript" src="bower_components/angular/angular.min.js"></script>
  <script src="js/popup.js"></script>
</body>

</html>